<%#所謂パーセントで囲んだものを ERB　という。HTML上でrubyを使う為のシステム%>

<%#%バリデーションはここにでる%>
<link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
<div class="col-md-3">
<%#左上。1.一つだけ出すにはどうすれば良いか。 1.firstメソッド%>
  <h2>User info</h2>
    <%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "current_no_image.jpg" %>
      <table class="table">
        <tbody>
          <tr></tr>
          <tr>
            <th>name</th><th><%= user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= user.introduction %></th>
          </tr>
        </tbody>
      </table>
      <div class=row>
      <%= link_to "", edit_user_path(user.id), class:"btn btn-outline-secondary btn-block fas fa-user-cog edit_user" %>
      </div>
<%#左下%>
    <%= form_with model:@book, local:true do |f| %>
    <h2>New book</h2>
    <div class="form-group">
      <label for="book_title">title</label>
      <%= f.text_field :title, class:"form-control book_title" %>
    </div>
    <div class="form-group">
      <label for="book_opinion">opinion</p>
      <%= f.text_area :body, class:"form-control book_body" %>
    </div>
    <div class="form-group"><%= f.submit 'Create Book', class:"btn btn-success" %></div>
    <% end %>
</div>