<!--/books-->

<!--左側(ユーザー情報)-->
<h1>User</h1>
<%= form_with model:@book, local:true do |f| %>
  <h4>title</h4>
  <%= f.text_field :title %>
  <h4>opinion</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>

<!--右側（投稿一覧画面）-->
<h1>Books</h1>
<% @books.each do |book| %>
  <span><%= book.title %></span>
  <span><%= book.body %></span>
<% end %>
