<!--/books-->

<!--部分テンプレート呼出-->
<%= render 'books/list', books: @books %>


<!--右側（投稿一覧画面）-->
<div>
<% @books.each do |book| %>
<h1>Books</h1>
  <%= attachment_image_tag book.user, :profile_image, :fill, 60, 60 %>
  <span><%= link_to book.title, book_path(book.id) %></span>
  <span><%= book.body %></span>
  <span><%= link_to "Edit", edit_book_path(book.id) %></span>
</div>
<% end %>
