<div>
  <h2>Book detail</h2>
  <p><%= attachment_image_tag @book., :profile_image, :fill 60, 60 %></p>
  <p><%= @book.title %></p>
  <p><%= @book.body %></p>
  <% if @book.user == current_user %>
  <%= link_to "Edit", edit_book_path(@book) %>
  <%= link_to "delete", book_path(@book), method: :delete %>
  <% end %>
  <%#link_to edit_book_path%>
  <%#destroyメソッド追加%>
</div>

<%#book_path%>